COMPANY=ACME CORPORATION
DISCLAIMER="This document is for internal use only."
WATERMARK="Official Copy"
WEBSITE_BASE_DIR=/
WEBSITE_BASE_URL=https://example.com/
SCCS_BASE_URL=https://github.com/example/project/commit/
LOGO_PATH=app/assets/acme-corporation.png
